.container {
  margin: 80px 173px;
  /* max-width: 1200px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

.categories {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.category-card {
  position: relative;
  background: white;
  padding: 20px;
  width: 180px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.category-card .icon {
  font-size: 30px;
  color: var(--dark-secondary);
  margin-bottom: 10px;
}

.category-card h3 {
  font-size: 16px;
  margin: 0;
}

.category-card h4 {
  color: black;
  font-size: 12px;
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #28a745;
  color: white;
  padding: 4px 10px;
  border-radius: 50px;
  font-size: 12px;
}

.sub-heading {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
}
.category-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

.categories-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.categories-wrapper::-webkit-scrollbar {
  display: none;
}

.category-card {
  flex: 0 0 auto;
  width: 140px;
  height: 100px;
  margin: 0 8px;
  /* background: #f3f3f3; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff;
  border-radius: 100%;
  color: rgb(0, 0, 0);
  border: none;
  padding: 9px 12px;
  cursor: pointer;
  z-index: 1;
}

.nav-button.left {
  left: 0;
}

.nav-button.right {
  right: 0;
}

@media (max-width: 992px) {
  .container {
    margin: 30px 60px;
  }

  .category-card {
    width: 120px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 30px;
  }
}

@media (max-width: 390px) {
  .container {
    margin: 15px;
  }
}
